{% include "css/reset.css" %}
{% include "css/fluid.css" %}
{% include "css/variables.css" %}
{% include "css/elements.css" %}
{% include "css/layout-components/stack.css" %}
{% include "css/layout-components/switcher.css" %}

.spacer {
    padding: var(--space-2xs-l);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main {
    --space: var(--space-l-xl);
    width: 80ch;
    max-width: 100%;
    margin: 0 auto;
    padding: var(--space-s-l);
    background: rgba(0,0,0,0.75);
    align-self: center;
    border-radius: var(--step-0);
}

.personal {
    --space: var(--space-xs-s);
    font-family: var(--antique-font-stack);
    text-align: right;
}

.occupation {
    font-style: italic;
}

.contact {
    font-family: var(--monospace-font-stack);
    /* Monospace fonts seem to be bigger, also contact info is not super critical */
    font-size: var(--step--1);
}

.photo-credits {
    font-family: system-ui;
    position: fixed;
    font-size: var(--step--2);
    right: .2em;
    bottom: .2em;
    color: #eee;
}

.photo-credits a {
    color: inherit;
    text-decoration-thickness: initial;
}

.photo-credits a:hover {
    background: none;
    text-decoration: underline;
}

.introduction {
    text-wrap: balance;
    max-inline-size: 50ch;
}
