html {
    background-color: #14562e;
    background-image: url(../img/clay-banks-50pct.webp);
    background-size: cover;
    color: #fff;
}

body {
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    font-weight: normal;
    text-shadow: 0 0 .2em #000;
    line-height: 1.5;
    font-size: 130%;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;

}

.main {
    max-width: 60rem;
    margin: 0 auto 0;
    padding: 3rem;
    background: rgba(0,0,0,0.5);
    border-radius: 1.5em;
}

.personal { text-align: right; }
.personal h1 { text-align: left; }

header {
    border-bottom: 1px solid currentColor;
    padding-bottom: 1em;
}

.occupation {
    font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
    text-align: center;
    font-size: 1.2em;
}

.photo-credits {
    position: absolute;
    right: .2em;
    bottom: .2em;
    color: #eee;

    & a {
        color: inherit;
    }
}

.stack > * {
    margin-block: 0;
}

.stack > * + * {
    margin-block-start: var(--space, 1rem);
}

.switcher {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.switcher > * {
    flex-grow: 1;
    flex-basis: calc((30rem - 100%) * 999);
    color: inherit;
    text-transform: uppercase;
    text-align: center;

}
