.switcher {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.switcher > * {
    flex-grow: 1;
    flex-basis: calc((30rem - 100%) * 999);
    color: inherit;
    text-transform: uppercase;
    text-align: center;
}
