<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Sylvain Brunerie - Homepage</title>
        {% set css %}{% include "css/main.css" %}{% endset %}
        <style>{{ css | cssmin | safe }}</style>
    </head>
    <body>
        <div class="spacer">
            <div class="main | stack">
                <header class="personal | stack">
                    <p class="name">Sylvain Brunerie</p>
                    <p class="occupation">web developer / musician</p>
                    <p class="contact"><span>sylvain.</span>brunerie <b>at</b> gmail.com</p>
                </header>
                {% block content %}
                <main>{{ content|safe }}</main>
                {% endblock %}
            </div>
        </div>
        <small class="photo-credits">
            <a target="_blank" href="https://unsplash.com/fr/@claybanks?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">
                Photo Clay Banks
            </a>
        </small>
    </body>
</html>
