<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Sylvain Brunerie - Homepage</title>
        <link rel="stylesheet" href="css/main.css" />
    </head>
    <body>
        <main class="stack">{{ content }}</main>
        <small class="photo-credits"
            >Photo de
            <a
                href="https://unsplash.com/fr/@claybanks?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
                >Clay Banks</a
            >
            sur
            <a
                href="https://unsplash.com/fr/photos/arbres-verts-Jya99orvzSE?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
                >Unsplash</a
            >
        </small>
    </body>
</html>
