<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Sylvain Brunerie - Homepage</title>
        {% set css %}{% include "css/main.css" %}{% endset %}
        <style>
            {{ css | cssmin | safe }}
        </style>
    </head>
    <body>
        <div class="main stack" style="--space: 5rem">
            <header class="stack personal" style="--space: 1rem">
                <h1>Sylvain Brunerie</h1>
                <p class="occupation">développeur web | musicien</p>
                <p class="contact">
                    +33 (0) 6 08 73 38 39<br />sylvain.brunerie@gmail.com
                </p>
            </header>
            <!-- <nav class="switcher main-nav">
                <a href="/">Homepage</a>
                <a href="/code">Code</a>
                <a href="/music">Music</a>
            </nav> -->
            <div>{{ content | safe }}</div>
        </div>
        <small class="photo-credits">
            <a target="_blank" href="https://unsplash.com/fr/@claybanks?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">
                <span aria-label="Photo">📷</span> Clay Banks
            </a>
        </small>
    </body>
</html>
